html,
body{
    font-family: Arial;
    background-color: #e9ebee;
}
.divbody{
    position: relative;
    width: 700px;
    margin: auto;
}
@media screen and (max-width: 710px){
    .divbody{
        width: 98%;
    }
}