html,
body{
    font-family: Arial;
    background-color: whitesmoke;

}

/* main header s */
.main-header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
    background-color: #034f84;
}
.side-menu-div{
    display: inline-block;
    margin-right: 8px;
}
.side-menu-btn{
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    padding-top: 3px;
    margin: 0px 5px;
}
.myrt-logo{
    color: white;
    font-weight: bold;
    font-family: DFPOP1-W9;
    font-size: 20px;
    display: inline-block;
}
.mh-right-div{
    padding: 2.5px 3px;
    float: right;
    display: inline-block;
}
.mh-masuk-btn{
    background-color: #deeaee;
}
@media screen and (max-width: 425px){
    .mh-right-div{
        display: none;
    }
}
/* main header e */

/* side menu start */
#side-menu{
    position: fixed;
    transition: 0.5s;
    background-color: white;
    left: -260px;
    top: 45px;
    bottom: 0px;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 0px 5px #333333;
    z-index: 4;
}
#side-menu-back{
    position: fixed;
    display: none;
    z-index: 3;
    background-color: rgba(238, 239, 241, 0.5);
    top: 45px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.side-menu-inner-head{
    position: relative;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}
.side-menu-inner-acp{
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 100%;
}
.side-menu-inner-act{
    position: absolute;
    color: white;
    bottom: 10px;
    left: 90px;
    width: 160px;
}
.sm-btn{
    width: 100%;
    height: 50px;
    background-color: white;
    font-size: 18px;
    border-radius: 0px;
    box-shadow: 0px 0px 1px black;
}
.sm-btn-a{
    width: 80%;
    margin: 5px 0px;
    display: inline-block;
    text-align: left;
}
.sm-btn-b{
    width: 25px;
    height: 25px;
    display: inline-block;
    transition: 0.3s;
}
#rtmain-div{
    background-color: white;
    display: none;
}
.sm-btn-2{
    width: 100%;
    padding: 10px 0px;
    background-color: whitesmoke;
    text-align: left;
    padding-left: 40px;
}
/* side menu e */

/* main frame s */
#mainframediv{
    position: fixed;
    top: 45px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/* main frame e */