body{
    font-family: arial;
}
.btn{
    font-size: 20px;
    padding: 6px 9px;
    margin: 2px;
    border: 0px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

/*animation start*/
.btn:hover{
    opacity: 0.85;
}
/*animation end*/